*{
    padding: 5px;
}

.bg-p {
    background-color: #FFF9F4;
}
.price{
    color:#FA804C;
    font-weight: bold;
}
.casual-Shoes{
    background-color: #FFF;
}
.text-uppercase{
    font-weight: bolder;
}